[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ovh_exporter = {editable = true, path = "."}

[dev-packages]
ovh_exporter = {editable = true, extras = ["dev", "test"], path = "."}

[requires]
python_version = "3"
